<app-hero [name]="hero" (liked)="onLike()"></app-hero>

<h3>DIRECTIVES EXAMPLES</h3>
<ul>
  <li *ngFor="let hero of heroes1; index as myIndex">
    {{ myIndex }} {{ hero.name }}
  </li>
</ul>
<!--
<div [ngSwitch="hero1.name" ]>
  <div *ngSwitchCase="'avengers'">{{hero1.name}}</div>
  <div *ngSwitchCase="'villains'">{{hero1.name}}</div>
  <div *ngSwitchDefault>{{hero1.name}}</div>

</div>
-->
<h3>PIPES EXAMPLES</h3>

<p>{{ "Hello Angular 10" | uppercase }}</p>
<p>{{ "HELLO ANGULAR 10" | lowercase }}</p>
<p>{{ 100 | currency }}</p>
<p>{{ 100 | currency: "EUR" }}</p>
<p>{{ heroes | slice: 1:9 }}</p>
<p>{{ today | date }}</p>
<p>{{ today | date: "fullDate" }}</p>
<p>{{ hero2 | json }}</p>
